include ../blocks/about/_about.pug
include ../blocks/expert/_expert.pug
include ../blocks/footer/_footer.pug
include ../blocks/work/_work.pug
include ../blocks/header/_header.pug
include ../blocks/header__main/_header_main.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="../node_modules/remodal/dist/remodal.css")
        link(rel="stylesheet", href="../node_modules/remodal/dist/remodal-default-theme.css")
        link(rel="stylesheet", href="./css/style.css")
    body     
        +header
        +header_main
        +about
        +expert
        +footer
        +work
        .orange__latest
            .container
                .orange__headline
                        .row
                            .col-12
                                .orange__title
                                    h1.orange-title Latest Works
                .orange__set.set    
                    .set__first
                        .row
                            .col-4
                                .set__link
                                    a(src="javascript:void(0)").set-link.first-link
                                        img(src="../images/work_1.png").set__image 
                            .col-4
                                .set__link
                                    a(src="javascript:void(0)").set-link.first-link
                                        img(src="../images/work_2.png").set__image 
                            .col-4
                                .set__link
                                    a(src="javascript:void(0)").set-link.first-link
                                        img(src="../images/work_3.png").set__image 
                    .set__second
                        .row
                            .col-4
                                .set__link
                                    a(src="javascript:void(0)").set-link.second-link
                                        img(src="../images/work_4.png").set__image 
                            .col-4
                                .set__link
                                    a(src="javascript:void(0)").set-link.second-link
                                        img(src="../images/work_5.png").set__image 
                            .col-4
                                .set__link
                                    a(src="javascript:void(0)").set-link.second-link
                                        img(src="../images/work_6.png").set__image  
        script(src="https://kit.fontawesome.com/eed4fbf255.js" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(src="../node_modules/remodal/dist/remodal.js")
        
