mixin footer
    .footer
        .container    
            .footer__head
                h2.footer__title Clients
            .row
                .col-3
                    .footer__company
                        img.footer__logo(src="../dist/img/logo2.png", alt="")
                .col-3
                    .footer__company
                        img.footer__logo(src="../dist/img/logo3.png", alt="")
                .col-3
                    .footer__company
                        img.footer__logo(src="../dist/img/logo1.png", alt="")
                .col-3
                    .footer__company
                        img.footer__logo(src="../dist/img/logo0.png", alt="")                         