mixin latest
    .orange__latest
                .container
                    .orange__headline
                            .row
                                .col-12
                                    .orange__title
                                        h1.orange-title Latest Works
                    .orange__set.set    
                        .set__first
                            .row
                                .col-4
                                    .set__link
                                        a(src="javascript:void(0)").set-link.first-link
                                            img(src="../images/work_1.png").set__image 
                                .col-4
                                    .set__link
                                        a(src="javascript:void(0)").set-link.first-link
                                            img(src="../images/work_2.png").set__image 
                                .col-4
                                    .set__link
                                        a(src="javascript:void(0)").set-link.first-link
                                            img(src="../images/work_3.png").set__image 
                        .set__second
                            .row
                                .col-4
                                    .set__link
                                        a(src="javascript:void(0)").set-link.second-link
                                            img(src="../images/work_4.png").set__image 
                                .col-4
                                    .set__link
                                        a(src="javascript:void(0)").set-link.second-link
                                            img(src="../images/work_5.png").set__image 
                                .col-4
                                    .set__link
                                        a(src="javascript:void(0)").set-link.second-link
                                            img(src="../images/work_6.png").set__image  