mixin work
    .work
        .container
            .row
                .col-12
                    .work__info
                        h3.work__name Need a graphic designer? <span>Ready to work!</span>
                        button.work__button hire me