mixin navbar
    .navbar
        ul.navbar__items
            li.navbar__items--nav
                a.navbar__link(href="javascript:void(0)") Main
            li.navbar__items--nav
                a.navbar__link(href="javascript:void(0)") About Us
            li.navbar__items--nav
                a.navbar__link(href="javascript:void(0)")  
            li.navbar__items--nav
                a.navbar__link(href="javascript:void(0)")
           