mixin expert
    .expert
        .container
            .expert__head
                h1.expert__title Expert In
                    .row
                        .col-4
                            .expert__part
                                .expert__border
                                    img.expert__logo(src="../dist/img/icon0.png", alt="MOBILE APP DESIGN")
                                .expert__info
                                    h3.expert__name MOBILE APP DESIGN
                                    p.expert__subname Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim 
                        .col-4
                            .expert__part
                                .expert__border
                                    img.expert__logo(src="../dist/img/icon1.png", alt="WEB DESIGN")
                                .expert__info
                                    h3.expert__name WEB DESIGN
                                    p.expert__subname Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .col-4
                           .expert__part
                                .expert__border
                                    img.expert__logo(src="../dist/img/icon2.png", alt="WEB DEVELOPMENT")
                                .expert__info
                                    h3.expert__name WEB DEVELOPMENT
                                    p.expert__subname Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim 
                    .row
                        .col-4
                            .expert__part
                                .expert__border
                                    img.expert__logo(src="../dist/img/icon3.png", alt="PRODUCT DESIGN")
                                .expert__info
                                    h3.expert__name PRODUCT DESIGN
                                    p.expert__subname Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim 
                        .col-4
                            .expert__part
                                .expert__border
                                    img.expert__logo(src="../dist/img/icon4.png", alt="UX & UI")
                                .expert__info
                                    h3.expert__name UX & UI
                                    p.expert__subname Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .col-4
                            .expert__part
                                .expert__border
                                    img.expert__logo(src="../dist/img/icon5.png", alt="ANIMATIONS")
                                .expert__info
                                    h3.expert__name ANIMATIONS
                                    p.expert__subname Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad m    inim                                           