@import '../../node_modules/reset.scss/reset.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

// FONTS
@import 'fonts';

@import 'base';

@import 'blocks';



.orange-title {
    color: #3677fd;
    font-size: 50px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 93px;
    text-align: center;

}

.orange__set {
    margin-bottom: 193px;
    ;
}

.set__first {
    margin-top: 104px;
}

.set__second {
    margin-top: 52px;
}

.set-link {
    height: 269px;
    max-width: 100%;


}

.first-link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.second-link {
    display: flex;
    justify-content: center;
    align-items: center;
}


.set-link:hover {

    max-width: 100%;

    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    cursor: pointer;
}

.set__image {
    pointer-events: none;

}

.first-link:hover {
    height: 270px;
}

.second-link:hover {
    height: 269px;
}

.first-link:hover .set__second {
    margin-top: 51px;
}