mixin header
    .header__top
        .container
            .row
                .col-12
                        p.header__top__text This site uses cookies, so that my service can work better.
                        button.header__top__btn(type="submit") Accept
