.header {
    background-color: #19427791;
    height: 72px;
}

.headline {


    &__text {
        color: white;
        font-size: 14px;
        font-weight: 400;
        line-height: 36px;
        margin-top: 19px;
        margin-left: 12px;
        padding-bottom: 17px;

    }

    &-btn {
        text-align: center;
        display: block;
        width: 112px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        color: #194277;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        margin-top: 22px;
        margin-right: 36px;
        text-decoration: none;
        padding-top: 6px;
        padding-left: 4px;

        &:hover {
            background-color: #194277;
            color: white;
            border: 1px solid white;
            transition: all .4s ease-in-out;
        }
    }
}