mixin header
    .header__headline.headline
        .container
            .row.justify-content-xl-center
                .col-6.flex-xl-row
                    .headline__text
                        p.headline-text This site uses cookies, so that my service can work better.
                    .headline__btn
                        a.headline-btn(href="javascript:void(0)") Accept
                       
                        
