.headline {
    & {
        // background-color: #194277;
        height: 72px;
    }

    &__text {
        color: white;
        font-size: 14px;
        font-weight: 400;
        line-height: 36px;
    }

    &-btn {
        text-align: center;
        display: block;
        width: 112px;
        height: 30px;
        background-color: white;
        border-radius: 15px;
        color: #194277;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
    }
}

// .header__top {
//     text-align: center;
//     // background-color: #194277;
//     width: 100%;
//     height: 72px;

//     .col-12 {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding-top: 20px;
//     }

//     .top__text {
//         display: inline-block;
//         padding-right: 60px;
//     }

//     .top__btn {
//         border-radius: 50px;
//         color: #194277;
//         font-family: Lato;
//         font-size: 12px;
//         font-weight: 700;
//         line-height: 16px;
//         padding: 10px 30px;
//         border: 1px solid #fff;
//         cursor: pointer;

//         &:hover {
//             background-color: #194277;
//             color: #fff;
//             border: 1px solid #fff;
//         }
//     }


// }