mixin header
    .header
        .container
            .row.justify-content-xl-center
                .col-xl-6
                    .header__headline.headline.d-xl-flex.justify-content-xl-between
                        .headline__text
                            p.headline-text This site uses cookies, so that my service can work better.
                        .headline__btn
                            a.headline-btn(href="javascript:void(0)") Accept
            .row    
                .col-12
                    .header__burger
                        <i class="fas fa-bars"></i>
                .col-12
                    .header_main__circle
                        .circle
            .row
                .col-12
                    p.header_main__heading free portfolio psd template<br> for graphic designers 
                    p.header_main__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            .row
                .col-4.offset-4
                    .header_main__button
                        button.header_main__submit(type="submit") hire me 
                       
                        
