mixin header
    .header__top.top
        .container
            .row
                .col-12
                        p.top__text This site uses cookies, so that my service can work better.
                        button.top__btn(type="submit") Accept
